# .gitignore --- Git untracked files -*- mode: gitignore; -*-

# devshells
/.editorconfig
/opencode.json
/prek.toml
/treefmt.toml

# direnv
/.direnv
/.envrc

# emacs
.dir-locals.el

# nix
/repl-result-out
/result
/result-*

# .gitignore ends here
