# .gitignore --- Git untracked files -*- mode: gitignore; -*-

# devshells
/.editorconfig
/opencode.json
/prek.toml
/treefmt.toml

# direnv
/.direnv
/.envrc

# emacs
/lisp/jieba-rs-autoloads.el
/lisp/jieba-rs-module.so
/lisp/jieba-rs-pkg.el
/lisp/*.elc
.dir-locals.el
/dist

# nix
/repl-result-out
/result
/result-*

# rust
/debug
/target

# .gitignore ends here
